<main>
    <div class="discount-container">
        <a class="link-discount" [routerLink]="[ '/admin/discount']"  routerLinkActive="active">
            <p>discount</p>
        </a>
    </div>

    <div class="category-container">
        <a class="link-category" [routerLink]="[ '/admin/category']" routerLinkActive="active">
            <p>category</p>
        </a>
    </div>

    <div class="category-container">
            <p>Products</p>
    </div>

    <div class="category-container">
            <p>Order</p>
    </div>

</main>